water.json
[{"id":"7853c09e.5e261","type":"tab","label":"iWaterMonitoring","disabled":false,"info":""},{"id":"d61026f7.77a6b8","type":"inject","z":"7853c09e.5e261","name":"Water Level Switch","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"4","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"num","x":250,"y":120,"wires":[["2513c140.f70ebe","48c4543a.cae2ec","c073da0d.863368"]]},{"id":"2513c140.f70ebe","type":"debug","z":"7853c09e.5e261","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":200,"wires":[]},{"id":"32301015.5fea3","type":"ui_audio","z":"7853c09e.5e261","name":"","group":"d7408c5.884767","voice":"en-US","always":"","x":510,"y":320,"wires":[]},{"id":"48c4543a.cae2ec","type":"ui_gauge","z":"7853c09e.5e261","name":"Water Level Indicator","group":"d7408c5.884767","order":1,"width":0,"height":0,"gtype":"wave","title":"Water Level Indicator","label":"units","format":"{{value}}","min":0,"max":"110","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":240,"wires":[]},{"id":"c073da0d.863368","type":"ui_button","z":"7853c09e.5e261","name":"","group":"d7408c5.884767","order":2,"width":0,"height":0,"passthru":false,"label":"Alexa","tooltip":"","color":"Red","bgcolor":"Yellow","icon":"","payload":"Water is overflow. Automatic switch is trigerred","payloadType":"str","topic":"","x":280,"y":260,"wires":[["32301015.5fea3"]]},{"id":"ae5d8573.419e18","type":"ui_form","z":"7853c09e.5e261","name":"","label":"House owners Details","group":"224db947.325b26","order":3,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Mobile","value":"mobile","type":"number","required":true,"rows":null},{"label":"Flat No","value":"address","type":"text","required":true,"rows":null},{"label":"Email ID","value":"email","type":"email","required":true,"rows":null}],"formValue":{"name":"","mobile":"","address":"","email":""},"payload":"","submit":"Submit","cancel":"Reset","topic":"","x":320,"y":440,"wires":[["bab88f76.c572f"]]},{"id":"63b4cb10.e4b7e4","type":"ui_text_input","z":"7853c09e.5e261","name":"Report Status","label":"Report Status","tooltip":"","group":"d7408c5.884767","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":590,"y":400,"wires":[[]]},{"id":"76689164.d90a3","type":"ui_button","z":"7853c09e.5e261","name":"Click to Send Report","group":"d7408c5.884767","order":2,"width":0,"height":0,"passthru":false,"label":"Click to Send Report","tooltip":"","color":"Red","bgcolor":"Yellow","icon":"","payload":"Water Meter Reading report is Sent","payloadType":"str","topic":"","x":300,"y":340,"wires":[["63b4cb10.e4b7e4"]]},{"id":"c9bd94f4.e81b78","type":"ibmiot in","z":"7853c09e.5e261","authentication":"apiKey","apiKey":"a690d65e.8b9358","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":80,"y":340,"wires":[["76689164.d90a3"]]},{"id":"bab88f76.c572f","type":"ibmiot out","z":"7853c09e.5e261","authentication":"apiKey","apiKey":"a690d65e.8b9358","outputType":"evt","deviceId":"1234","deviceType":"1.1.2","eventCommandType":"blink","format":"json","data":"data points","qos":0,"name":"IBM IoT","service":"registered","x":510,"y":500,"wires":[]},{"id":"d7408c5.884767","type":"ui_group","z":"","name":"Intelligent Water Management System","tab":"2b74bdd7.e7bb22","order":1,"disp":true,"width":"6","collapse":false},{"id":"224db947.325b26","type":"ui_group","z":"","name":"User","tab":"2b74bdd7.e7bb22","order":2,"disp":true,"width":"7","collapse":true},{"id":"a690d65e.8b9358","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"7mxfbq.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"2b74bdd7.e7bb22","type":"ui_tab","z":"","name":"User Database","icon":"dashboard","disabled":false,"hidden":false}]